{% extends 'admin/admin_base.html' %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <div class="page-title-right">
                <ol class="breadcrumb m-0">
                    <li class="breadcrumb-item"><a href="javascript: void(0);">Academic Admission</a></li>
                    <li class="breadcrumb-item active">View Students</li>
                </ol>
            </div>
            <h4 class="page-title">All Student Details</h4>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-body">
                <div class="row mb-2">
                    <div class="col-sm-4">
                        <a href="{{ url_for('register_student_page')}}" class="btn btn-dark mb-2"><i
                                class="mdi mdi-plus-circle me-2"></i> Add
                            Student</a>
                    </div>
                    <div class="col-sm-8">
                        <div class="text-sm-end">
                            <button type="button" class="btn btn-success mb-2 me-1"><i class="mdi mdi-cog"></i></button>
                            <a href="#" class="btn btn-light mb-2" onclick="window.print()">Export</a>
                        </div>
                    </div>
                </div>
                <div class="table-responsive">
                    <table id="basic-datatable" class="table dt-responsive nowrap w-100">
                        <thead>
                            <tr>
                                <th>ID</th>
                                <th>Student Name</th>
                                <th>Phone</th>
                                <th>Address</th>
                                <th>Date of Birth</th>
                                <th>Guide Number</th>
                                <th>Action</th>
                            </tr>
                        </thead>
                        <tbody>
                            {% if students %}
                            {% for student in students %}
                            <tr id="student-row-{{ student.student_id }}">
                                <td>HU000{{ student.student_id }}</td>
                                <td class="table-user">
                                    <a href="#" class="text-body fw-semibold">{{ student.f_name }} {{ student.s_name }}
                                        {{ student.l_name }}</a>
                                </td>
                                <td>{{ student.phone }}</td>
                                <td>{{ student.address }}</td>
                                <td>{{ student.date_of_birth }}</td>
                                <td>{{ student.mother_phone }}</td>
                                <td class="d-flex">
                                    <!-- View Dropdown -->
                                    <div class="dropdown dropstart me-2">
                                        <a href="#" class="action-icon view-icon" data-bs-toggle="dropdown">
                                            <i class="mdi mdi-eye status-icon"></i>
                                        </a>
                                        <ul class="dropdown-menu p-2 shadow" style="min-width: 220px;"
                                            data-bs-auto-close="outside">
                                            <li>
                                                <form onclick="event.stopPropagation()">
                                                    <h5>Change student status</h5>
                                                    <div id="status_success_{{student.student_id}}" class="text-success mt-1 small"></div>
                                                    <select class="form-select" id="select_status_{{student.student_id}}">
                                                        <option value="" selected>Select Option</option>
                                                        <option value="Active">Active</option>
                                                        <option value="Inactive">Inactive</option>
                                                        <option value="Graduated">Graduated</option>
                                                        <option value="Suspended">Suspended</option>
                                                    </select>
                                                    <div id="status_error_{{student.student_id}}" class="text-danger mt-1 small"></div>
                                                    <div class="mt-3 d-grid">
                                                        <button class="btn btn-primary btn-with-spinner" type="button"
                                                            onclick="submit_status_change('{{student.student_id}}', event)">
                                                            <span class="spinner-border spinner-border-sm d-none"
                                                                role="status" aria-hidden="true"></span>
                                                            <span class="button-text">Submit</span>
                                                        </button>
                                                    </div>
                                                </form>
                                            </li>
                                        </ul>
                                    </div>

                                    <!-- Change Class Dropdown -->
                                    <div class="dropdown dropstart">
                                        <a href="#" class="action-icon update-icon" data-bs-toggle="dropdown">
                                            <i class="mdi mdi-square-edit-outline"></i>
                                        </a>
                                        <ul class="dropdown-menu p-3" style="min-width: 250px;"
                                            data-bs-auto-close="outside">
                                            <!-- Added a container div with ID for the accordion parent -->
                                            <div id="accordionGroup_{{student.student_id}}">
                                                <li>
                                                    <button
                                                        class="dropdown-item d-flex justify-content-between align-items-center toggle-btn"
                                                        data-bs-toggle="collapse" data-bs-target="#changeClassForm_{{student.student_id}}"
                                                        aria-expanded="false" aria-controls="changeClassForm_{{student.student_id}}"
                                                        onclick="event.stopPropagation()">
                                                        Change Class
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </li>

                                                <li>
                                                    <div id="changeClassForm_{{student.student_id}}" class="collapse"
                                                        data-bs-parent="#accordionGroup_{{student.student_id}}">
                                                        <form>
                                                            <div id="class_success_{{ student.student_id }}"
                                                                class="text-white mt-1 small bg-success p-2 rounded-2 fs-5"
                                                                style="display: none;"></div>
                                                            <label class="form-label mt-2">Select Class</label>
                                                            <select id="select_class_{{ student.student_id }}" class="form-select" required>
                                                                {% if classes %}
                                                                {% for class in classes %}
                                                                <option value="{{ class.class_name }}" {% if
                                                                    student.class_id==class.id %}selected{% endif %}>
                                                                    {{ class.class_name }}
                                                                </option>
                                                                {% endfor %}
                                                                {% endif %}
                                                            </select>
                                                            <div id="class_error_{{student.student_id}}" class="text-danger mt-1 small"
                                                                style="display: none;"></div>
                                                            <div class="d-grid mt-2">
                                                                <button class="btn btn-primary btn-with-spinner"
                                                                    type="button"
                                                                    onclick="submit_class_change('{{ student.student_id }}', event)">
                                                                    <span
                                                                        class="spinner-border spinner-border-sm d-none"
                                                                        role="status" aria-hidden="true"></span>
                                                                    <span class="button-text">Submit</span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>

                                                <li>
                                                    <hr class="dropdown-divider">
                                                </li>

                                                <!-- Change Password Button -->
                                                <li>
                                                    <button
                                                        class="dropdown-item d-flex justify-content-between align-items-center toggle-btn"
                                                        data-bs-toggle="collapse"
                                                        data-bs-target="#changePasswordForm_{{student.student_id}}" aria-expanded="false"
                                                        aria-controls="changePasswordForm_{{student.student_id}}"
                                                        onclick="event.stopPropagation()">
                                                        Change Password
                                                        <i class="mdi mdi-chevron-down"></i>
                                                    </button>
                                                </li>

                                                <li>
                                                    <div id="changePasswordForm_{{student.student_id}}" class="collapse"
                                                        data-bs-parent="#accordionGroup_{{student.student_id}}">
                                                        <form onclick="event.stopPropagation()">
                                                            <div id="password_success_{{ student.student_id }}"
                                                                 class="text-white mt-1 small bg-success p-2 rounded-2 fs-5"
                                                                 style="display: none;"></div>
                                                            
                                                            <label class="form-label mt-2" for="newPassword_{{ student.student_id }}">New Password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Enter new password" 
                                                                   id="newPassword_{{ student.student_id }}">
                                                            
                                                            <div id="password_error_{{ student.student_id }}" 
                                                                 class="text-danger mt-1 small"
                                                                 style="display: none;"></div>
                                                            
                                                            <label class="form-label mt-2" for="confirmPassword_{{ student.student_id }}">Confirm Password</label>
                                                            <input type="password" class="form-control"
                                                                   placeholder="Confirm password" 
                                                                   id="confirmPassword_{{ student.student_id }}">
                                                            
                                                            <div id="confirm_error_{{ student.student_id }}" 
                                                                 class="text-danger mt-1 small"
                                                                 style="display: none;"></div>
                                                            
                                                            <div class="d-grid mt-2">
                                                                <button class="btn btn-primary btn-with-spinner"
                                                                        type="button"
                                                                        onclick="submit_password_change('{{ student.student_id }}', event)">
                                                                    <span class="spinner-border spinner-border-sm d-none"
                                                                          role="status" aria-hidden="true"></span>
                                                                    <span class="button-text">Submit</span>
                                                                </button>
                                                            </div>
                                                        </form>
                                                    </div>
                                                </li>
                                            </div>
                                        </ul>
                                    </div>
                                </td>

                            </tr>
                            {% endfor %}
                            {% endif %}


                        </tbody>

                    </table>
                </div>
            </div> <!-- end card-body-->
        </div> <!-- end card-->
    </div> <!-- end col -->
</div>
<script src="{{url_for('static', filename = 'js/admin/student_view.js')}}"></script>
{% endblock %}